body {
	margin: 2em;
	font-size: 1.5em;
	font-family: 'Source Code Pro', 'Andale Mono', Monaco, 'Courier New', monospace;
}

#timer {
	font-weight: bold;
	color: green;
	right: 10px;
	font-size: 20px;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	color: #363636;
	font-family: monospace;
	letter-spacing: 5px;
	font-size: 36px;

}

.sliders {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	height: 350px;
	padding: 25px;
	border-radius: 5px;
	background-color: #363636;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

input {
	-webkit-appearance: none;
	width: 15rem;
	background: transparent;
}


input::-webkit-slider-runnable-track {
	height: 5px;
	border-radius: 20px;
	box-shadow: inset 1px 1px 2px #57575780;
}

/* red track */
input:first-child::-webkit-slider-runnable-track {
	background: #ff5e5e;
}

/* blue track  */
input:nth-child(3)::-webkit-slider-runnable-track {
	background: #69b6ff;
}

/* green track */
input:nth-child(5)::-webkit-slider-runnable-track {
	background: #66ed85;
}

/* Thumb Styles  */
input::-moz-range-thumb:hover {
	cursor: grab;
}

input::-webkit-slider-thumb:hover {
	cursor: grab;
}

input::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	border: none;
	background-color: white;
	box-shadow: inset .5px .5px 1px #57575780;
	transform: translateY(-5px);
}

input::-moz-range-thumb {
	-webkit-appearance: none;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	border: none;
	background-color: white;
	box-shadow: inset .5px .5px 1px #57575780;
}

div {
	padding-top: 10px;
	color: white;
	font-size: 17px;
	font-family: monospace;
}