<!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://kit.fontawesome.com/bdd89edb33.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/experimentcard.css" />
</head>

<body>
	<br>
	<div class="heading-third" style="text-align: right; padding-right: 75px; font-size: 60px;">
		<a href="/logout">Logout</a>
	  </div>
<br>
<section class="section-plans" id="section-plans">
	<div class="u-center-text u-margin-bottom-big">
	  <h2 class="heading-secondary">
		EXPERIMENTS
	  </h2>
	</div>
	<br><br><br>

	<div class="row">
	  <div class="col-1-of-3">
		<div class="card">
		  <div class="card__side card__side--front-1">
			<div class="card__title card__title--1">
			  <h4 class="card__heading">PID Control</h4>
			  
			</div>
		  </div>
		  <div class="card__side card__side--back card__side--back-1">
			<div class="card__cta">
			  <a href="/theory" class="btn btn--white">Theory</a>
			  <br><br>
			  <a href="/experiment" class="btn btn--white">Experiment</a>
			</div>
		  </div>
		</div>
	  </div>

	  <div class="col-1-of-3">
		<div class="card">
		  <div class="card__side card__side--front-2">
			<div class="card__title card__title--2">
			  <h4 class="card__heading">Air Quality</h4>
			</div>
		  </div>
		  <div class="card__side card__side--back card__side--back-2">
			<div class="card__cta">
				<a href="/error" class="btn btn--white">Theory</a>
				<br><br>
				<a href="/error" class="btn btn--white">Experiment</a>
			</div>
		  </div>
		</div>
	  </div>

	  <div class="col-1-of-3">
		<div class="card">
		  <div class="card__side card__side--front-3">
			<div class="card__title card__title--3">
			  <h4 class="card__heading">Obstacle Avoidance</h4>
			</div>

		  </div>
		  <div class="card__side card__side--back card__side--back-3">
			<div class="card__cta">
				<a href="/error" class="btn btn--white">Theory</a>
				<br><br>
				<a href="/error" class="btn btn--white">Experiment</a>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>

</body>

</html>